#cima {

    text-align: center;

    /*background-color: aqua;*/

    background-color: #6B60EB;

    border-radius: 0.4rem;




}

li {

    display: inline;

}

#cima img {

    border-radius: 0.9rem;


}

nav {

    background-color: #ccc;

    text-align: center;

    border-radius: 2rem;

    padding: 1px;

    margin-bottom: 1rem;


}

nav a {

    color: white;
    padding: 8px 16px;
    

    transition: 2s;

    border-radius: 0.8rem;

}

nav p {

    display: inline;

    color: white;

}

nav a:hover {

    background-color: gray;

}

#corpo {

    text-align: center;

    margin-top: 2rem;

    margin-bottom: 2rem;



    border-radius: 0.4rem;

    margin-left: 2rem;

    margin-right: 2rem;



}

#corpo iframe {

    border-radius: 0.4rem;

    height: 480;

    width: 600;


}

html, body {
    height: 100%;


}

body {

    min-height: 100%;

}

html, body {

    height: 100%;

}

#down {

    position: relative;

    bottom: 0;


}

@media(max-width: 1020px) {


    #cima img{

        border-radius: 50%;

        width: 50%;
        height: 100%;

    }

    #cima {

        padding: 1rem;


    }

    #corpo iframe {

        border-radius: 0.6rem;

        width: 100%;

        height: 120%;

        margin: 0;


    }

    #down {

        position: absolute;

    }


}